<%- include ("../partials/header") %>

<div class="container">
    <h1 style="text-align:center;"> Edit <%= campground.name %> </h1>
    <div class="row">
        <div style="width: 30%; margin: 25px auto ;">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[name]" value=" <%= campground.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[description]" value=" <%= campground.description %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[price]" value=" <%= campground.price %>">
                </div>
                <div class="form-group">
                    <label for="img">Campground Image</label>
                    <input id="img" type="file" name="img" accept="image/*">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>    
            </form>
        </div>
    </div>
</div>
 <%- include ("../partials/footer") %>